header{
    position: fixed;
    top: 0;
    background-color: var(--body-bg);
    z-index: 2;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 16px 32px 16px;
}

header::after {
    content: "";
    width: 100%;
    height: 16px;
    background-color: var(--body-bg);
    position: absolute;
    top: 68px;
    left: 0;
    filter: blur(3px);
}



.logo {
    color: white;
    height: 30px;
}

.logo>svg {
    width: 43px;
    height: auto;
    margin-right: 4px;
    position: relative;
    bottom: 7px;
}

.logo>span {
    font-size: 1.5rem;
    position: relative;
    bottom: 19px;
}



.searchBar {
    width: 30%;
    height: 42px;
    min-width: 375px;
    position: relative;
}


/* Loading icon */
.searchBar.searching::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 3.5px solid white;
    border-bottom-color: transparent;
    border-radius: 54px;
    position: absolute;
    top: 10px;
    right: 15px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.searchInput {
    background-color: var(--box-bg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 15px;
    gap: 10px;
}


.searchInput>input {
    flex: 0.85;
    border: none;
    font-family: "Poppins", sans-serif;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.searchInput button {
    display: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.searchIcon {
    width: 13px;
}

.searchResult {
    background-color: white;
    width: 100%;
    z-index: 2;
    border-radius: 5px;
    display: none;  /*1 by default hidden*/
    position: absolute;
    top: 60px;
    overflow-y: auto;
}

.searchResult.visible {
    display: block;
}


.searchResult li:not(:last-child) {
    border-bottom: 1px solid #f2e7e7;
}

.searchResult li {
    padding: 16px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}



.searchResult li p{
    color: var(--body-bg);
}
.searchResult li svg {
    fill: var(--body-bg);
}


.searchResult p>span {
    color: gray;
}


 

.search-view-btn {
    background-color: #ffffff67;
    width: 45px;
    height: 45px;
    margin-right: 3px;
    display: grid;
    place-items: center;
    clip-path: circle(45%);
    transition: all 0.3s ease;
    cursor: pointer;
    display: none;
    -webkit-tap-highlight-color: transparent;
}



.currentLocationBox {
    background-color: #3fc83f;
    color: white;
    width: 163px;
    height: 42px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    cursor: pointer;
}



.currentLocationBox>span:nth-child(1) {
    position: relative;
    top: 3px;
}
